* {
    font-size: 25px;
    background-color: #530BE6;
    color: #E6D90B;
}
h1 {
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
}
div {
    margin: auto;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 2rem;
    width: 10rem;
    text-align: center;
    display: inline-block;
}
.borders, h2, p{
    background-color: #473866;
}
footer {
    width: auto;
}